APP_NAME=

SERVER_PORT=
CONTEXT_PATH=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=

APP_TIMEZONE=

JWT_SIGNER_KEY=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_CALLBACK_URL=